@font-face {
    font-family: "TimeBurner";
    src: url("./assets/fonts/Timeburner-xJB8.ttf");
}

@font-face {
    font-family: "TimeBurnerBold";
    src: url("./assets/fonts/TimeburnerBold-peGR.ttf");
}

html {
    min-height: 100%;
}

h1 {
    top: 0;
    left: 0;
    margin: 0;
    padding: 30px;
    position: fixed;
    font-family: "TimeBurnerBold", helvetica;
    font-size: 4vh;
    max-height: 30px;
    width: 100%;
    color: #ffffff;
}

body {
    background-image: url("./assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 600px) { 
    body {
        background-image: url("./assets/images/background_mobile.png");
        background-position: center 100%;
        background-size: 110%;
    }
}

main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
.moto {
    width: 70%hw;
    bottom: 2rem;
    min-width: 300px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 30px;
    
}



.moto  h3 {
    margin: 0;
    color: #ffffff;
    font-size: 2.8vh;
}
.moto  h4 {
    margin: 0;
    color: #ffffff;
    min-width: 300px;
    font-size: 2.3vh;
}

@media screen and (max-width: 600px) {
    .moto  h4 {
        font-size: 2vh;
    }
}

.countdown {
    color: #ffffff;
    font-size: 1.8vh;
} 

/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Roboto";
  font-size: 1.8vh;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - .2px) calc(1.5rem - .2px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}